.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: #eee;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
  color: black
}


.cart-drawer.open {
  transform: translateX(0);
} 

.cart-container{
  position: relative;
  min-height: 100vh;
}

.cart-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding-right: 10px;
}

.cart-content {
  padding: 10px;
  font-size: smaller;
  padding-bottom: 10rem;
}

.close-button {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.img-cart {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.btn {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 1px;
}

.gap {
  gap: 20px;
}

.sbtw{
  justify-content: space-between;
}

.icent {

  align-items: center;

}
.cart-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.total {
/* position: absolute; */
bottom: 50px;
margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button.total {
  bottom: 0;
}

h3 {
line-height: 1.2;

}

